/.vs
/TuviBytesShamirSecretSharingLib/.vs
/TuviBytesShamirSecretSharingLib/TuviSSSConsoleApp
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLib/bin
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLib/obj
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLibTests/bin
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLibTests/obj
