/.vs
/TuviBytesShamirSecretSharingLib/.vs
/TuviBytesShamirSecretSharingLib/GF256Computations/bin
/TuviBytesShamirSecretSharingLib/GF256Computations/obj
/TuviBytesShamirSecretSharingLib/GF256ComputationsTests/bin
/TuviBytesShamirSecretSharingLib/GF256ComputationsTests/obj
/TuviBytesShamirSecretSharingLib/TuviSSSConsoleApp
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLib/bin
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLib/obj
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLibTests/bin
/TuviBytesShamirSecretSharingLib/TuviBytesShamirSecretSharingLibTests/obj
